<%- include('navBar.ejs'); -%>
<%- include('messages.ejs'); -%>
<form action="/add" method="POST">
    <br/><br/>
    <label class="text-primary">Choose an anime picture:</label>
    <input type="file"
           id="animeImage" name="animeImage"
           accept="image/png, image/jpeg, image/jpg"/>

    <div class="form-group">
        <label class="text-primary">Title</label>
        <input type="text" name="title" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="text-primary">Category</label>
        <input type="text" name="category" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="text-primary">Description</label>
        <textarea class="form-control" name="description" rows="4"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>