<%- include('navBar.ejs'); -%>
<%- include('messages.ejs'); -%>
<div>
    <br>
    <div class="card-columns">
        <%if (returnValue.length>0){%>
        <% for (var i = 0; i < returnValue.length;  i++ ) { %>
        <div class="card border-dark " style="width: 22rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-secondary">Anime Title : <%= returnValue[i]["title"]%></h5>
                <p class="card-text"><%= returnValue[i]["description"]%></p>
                <button class="btn btn-primary pull-right">Edit</button>
                <button class="btn btn-danger pull-right">Delete</button>
            </div>
        </div>

            <% } %>
        <% } %>
    </div>



</div>

